@import 'pure/base.scss';
@import 'pure/forms-nr.scss';
@import 'pure/buttons.scss';
$break-small: 400px;

body {
	max-width: 40em;
	margin: 0 auto;
	padding: 5px;
	font-family: Georgia, serif;
	font-size: 18px;
	line-height: 1.6em;
	color: #222;
}

h1, h2, h3, h4, h5, small, .small, p.postdate, footer, input[type="submit"], label, dl#tweetlist dt {
	font-family: "Trebuchet MS", sans-serif;
	line-height: 1em;
}

small, .small {
	font-size: 0.8em;
	font-weight: normal;
}

.spacer {
	clear: both;
}

p.postdate, footer, dl#tweetlist dt {
	font-size: 80%;
	color: #666;
}

form {
	@extend .pure-form;
	@extend .pure-form-stacked;
}

input[type="submit"] {
	@extend .pure-button;
	@extend .pure-button-primary;
	background: #800;
	font-weight: bold;
}

section#masthead {
	@media screen and (max-width: $break-small) {
		h1 { font-size: 2em; }
	}
	@media screen and (min-width: $break-small) {
		h1 { font-size: 3em; }
	}
	h1 {
		margin: 0;
		a {
			text-decoration: none;
			color: #800;
			img {
				margin-right: 5px;
			}
		}
	}
	small {
		display: block;
		line-height: 1em;
	}
}

div#content {
	h1, h2, h3 {
		color: #800;
	}
	li, dd {
		margin-bottom: 1em;
	}
	pre {
		color: #fff;
		background-color: #333;
		padding: 0.25em;
		line-height: 1;
	}
	code {
		font-size: 0.8em;
	}
	article {
		img {
			@extend .pure-img;
		}
	}
}

body#home section {
	margin-bottom: 4em;
}
body#home section#masthead {
	margin-bottom: 1em;
}

body#home div#content {
	h2 small {
		font-size: 70%;
		font-weight: normal;
		margin-left: 2em;
	}
	ul {
		padding-left: 0;
		li {
			list-style-type: none;
		}
	}
}

body#oneblog div#content article {
	header {
		h1 a {
			text-decoration: none;
		}
		p {
			margin-top: -1em;
		}
	}
	h2, h3 {
		margin-top: 2em;
	}
}

div#comments {
	ol {
		padding-left: 1em;
	}
	li {
		margin-bottom: 2em;
	}
	span.response {
		display: block;
		margin-left: 1em;
		background-color: #cfc;
		font-weight: bold;
		padding: 4px;
	}
}

body#booklist, body#onebook {
	figure {
		img {
			float: left;
			margin-right: 2em;
		}
	}
}

body#booklist figure {
	margin: 0 0 8em 0;
}
body#onebook figure {
	margin: 0;
}
body#interview blockquote {
	margin: 0;
}
body#home dt, body#code dt, body#music dt {
	font-weight: bold;
}
dl#tweetlist dt {
	font-weight: normal;
}

div.presentation_summary {
	margin-bottom: 6em;
	@media screen and (max-width: $break-small) {
		img { display: block; }
	}
	@media screen and (min-width: $break-small) {
		img { float: right; }
	}
}

