@import "normalize";
@import "settings";
@import "foundation/components/global";
@import "foundation/components/grid";
@import "foundation/components/buttons";
@import "foundation/components/panels";
@import "foundation/components/forms";

body {
	@extend .row;
}

.small,
#masthead h2,
p.postdate,
body#presentations figcaption > h5,
body#booklist #content header p,
body#presentations section#content figure > figcaption > p,
body#booklist section#content figure > figcaption > p,
body#home section#tweets dt,
body#home div#emailform > p,
body#tweets dt {
	font-family: $body-font-family;
	font-size: 0.9em;
	font-weight: normal;
}

p, li, dt, dd {
	font-family: Georgia, serif;
	line-height: 1.4em;
	font-size: emCalc(20px);
}

#masthead h1 {
	margin-top: 4px;
	margin-bottom: 0.2em;
	font-size: 3em;
	background: url(/images/DerekSivers-50x50.jpg) no-repeat bottom left;
	a {
		margin-left: 52px;
		text-decoration: none;
	}
}

#masthead h2 {
	margin-top: 0;
}

#masthead, #content {
	@extend .small-8;
	@extend .small-centered;
	@extend .columns;
}

input[type=submit] {
	@extend .button;
	@extend .success;
	@extend .small;
}

body#home li {
	margin-bottom: 0.5em;
}

body#oneblog > section#content > article > header > h1, body#prez > section#content > article > header > h1 {
	margin-bottom: 0;
	a {
		text-decoration: none;
	}
}

p.postdate, body#presentations figcaption > h5 {
	margin-top: 0.25em;
}

section#comments textarea {
	height: 6em;
}

section#comments > ol > li, section#comments > ol > li > p {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 1em;
}

section#comments > ol > li {
	margin-bottom: 4em;
}

body#oneblog section#comments span.response, body#prez section#comments span.response {
	display: block;
	font-weight: bold;
	background-color: #cfc;
	margin: 1em 0 0 2em;
	padding: 3px;
}	
body#bloglist, body#home div#otherservices {
	ul {
		padding: 0;
	}
	li {
		list-style-type: none;
		margin-bottom: 1em;
	}
}
body#home div#otherservices li img {
	margin-right: 5px;
}

body#home section#companies figure,
body#home section#mybooks figure,
body#home section#videos figure,
body#presentations section#content figure,
body#booklist section#content figure {
	@extend .row;
	margin-bottom: 4em;
}
body#home section#companies figure > a,
body#home section#mybooks figure > a,
body#home section#videos figure > a,
body#presentations section#content figure > a,
body#booklist section#content figure > a {
	@extend .small-4;
	@extend .columns;
}
body#home section#companies figure > figcaption,
body#home section#mybooks figure > figcaption,
body#home section#videos figure > figcaption,
body#presentations section#content figure > figcaption,
body#booklist section#content figure > figcaption {
	@extend .small-8;
	@extend .columns;
}
body#home section#companies figure > figcaption > h3,
body#home section#mybooks figure > figcaption > h3,
body#home section#videos figure > figcaption > h3,
body#presentations section#content figure > figcaption > h3,
body#booklist section#content figure > figcaption > h2 {
	margin: 0;
	font-size: emCalc(20px);
}

body#onebook section#content header h1 {
	margin: 0;
	font-size: emCalc(24px);
}

body#onebook #content > header > figure {
	float: left;
	margin-right: 1em;
}

body#onebook p#booksummary {
	clear: both;
}

body#onebook p#booknotes {
	font-size: emCalc(16px);
}

body#music dt {
	font-weight: bold;
	margin-top: 4em;
}

body#home section#content > section,
body#tweets dd {
	margin-bottom: 4em;
}

body#home section#tweets dd {
	margin-bottom: 2em;
}

body#home section#content > section > h2 {
	@extend .panel;
	span {
		float: right;
	}
}
body#home section#photos img {
	width: 20%;
}

body#home section#follow {
	@extend .row;
}
body#home section#follow div#otherservices {
	@extend .small-4;
	@extend .columns;
}
body#home section#follow div#emailform {
	@extend .small-8;
	@extend .columns;
}
