@import "normalize";
@import "settings";
@import "foundation/components/global";
@import "foundation/components/grid";
@import "foundation/components/buttons";
@import "foundation/components/panels";
@import "foundation/components/forms";

html {
	background-color: $body-bg;
}
body {
	width: 95%;
	max-width: emCalc(700px);
	margin: 0 auto;
}

.small,
#masthead h2,
p.postdate,
body#presentations figcaption > h5,
body#booklist #content header p,
body#presentations section#content figure > figcaption > p,
body#booklist section#content figure > figcaption > p,
body#home section#tweets dt,
body#tweets dt {
	font-family: $body-font-family;
	font-size: 0.9em;
	font-weight: normal;
}

p, li, dt, dd, blockquote {
	font-family: Georgia, serif;
	line-height: 1.4em;
	font-size: emCalc(20px);
}

#masthead h1 {
	margin-top: 4px;
	margin-bottom: 0.2em;
	font-size: 3em;
	a {
		text-decoration: none;
	}
}
@media only screen and (min-width: 400px) {
	#masthead h1 {
		background: url(/images/DerekSivers-50x50.jpg) no-repeat bottom left;
		a {
			margin-left: 52px;
		}
	}
}

#masthead h2 {
	margin-top: 0;
}

#rasthead, #rontent {
	@extend .small-8;
	@extend .small-centered;
	@extend .columns;
}

input[type=submit] {
	@extend .button;
	@extend .success;
	@extend .small;
}

body#home li {
	margin-bottom: 0.5em;
}

body#oneblog > section#content > article > header > h1, body#prez > section#content > article > header > h1 {
	margin-bottom: 0;
	a {
		text-decoration: none;
	}
}

p.postdate, body#presentations figcaption > h5 {
	margin-top: 0.25em;
}

div#comments textarea {
	height: 6em;
}

div#comments > ol > li, div#comments > ol > li > p {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 1em;
}

div#comments > ol > li {
	margin-bottom: 4em;
}

body#oneblog div#comments span.response, body#prez div#comments span.response {
	display: block;
	font-weight: bold;
	background-color: #cfc;
	margin: 1em 0 0 2em;
	padding: 3px;
}	
body#bloglist, body#home div#otherservices {
	ul {
		padding: 0;
	}
	li {
		list-style-type: none;
		margin-bottom: 1em;
	}
}
body#home div#otherservices li img {
	margin-right: 5px;
}

body#home section#companies figure,
body#home section#mybooks figure,
body#home section#videos figure,
body#presentations section#content figure,
body#booklist section#content figure {
	@extend .row;
	margin-bottom: 4em;
}
body#home section#companies figure > a,
body#home section#mybooks figure > a,
body#home section#videos figure > a,
body#presentations section#content figure > a,
body#booklist section#content figure > a {
	@extend .small-4;
	@extend .columns;
}
body#home section#companies figure > figcaption,
body#home section#mybooks figure > figcaption,
body#home section#videos figure > figcaption,
body#presentations section#content figure > figcaption,
body#booklist section#content figure > figcaption {
	@extend .small-8;
	@extend .columns;
}
body#home section#companies figure > figcaption > h3,
body#home section#mybooks figure > figcaption > h3,
body#home section#videos figure > figcaption > h3,
body#presentations section#content figure > figcaption > h3,
body#booklist section#content figure > figcaption > h2 {
	margin: 0;
	font-size: emCalc(22px);
}

body#onebook section#content header h1 {
	margin: 0;
	font-size: emCalc(24px);
}

body#onebook #content > header > figure {
	float: left;
	margin-right: 1em;
}

body#onebook p#booksummary {
	margin-top: 2em;
	clear: both;
}

body#onebook p#booknotes {
	font-size: emCalc(16px);
}

body#music dt {
	font-weight: bold;
	margin-top: 4em;
}

body#home section#content > section,
body#tweets dd {
	margin-bottom: 4em;
}

body#home section#tweets dd {
	margin-bottom: 2em;
}

body#home section#content > section > h2 {
	@extend .panel;
	span {
		float: right;
	}
}
body#home section#photos img {
	width: 20%;
}

body#home section#follow {
	@extend .row;
}
body#home section#follow div#otherservices {
	@extend .large-4;
	@extend .columns;
}
body#home section#follow div#emailform {
	@extend .large-8;
	@extend .columns;
}
body#oneblog article.post blockquote {
	background-color: #eee;
	padding: 0.5em;
	border: 1px solid #ccc;
	font-size: 1.2em;
}
.anki1, .anki2 {
	padding: 1em;
	font-size: 1.2em;
	border: 1px solid #000;
	font-weight: bold;
}
.anki1 {
	background-color: #cf9;
	margin-bottom: 0;
}
.anki2 {
	background-color: yellow;
	margin-top: 0;
}

