<h1>MP3 downloads</h1>

<p>
Thank you so much for buying the book.
</p><p>
(Sorry for the password thing.  Since it's $240 worth of music, I had to make sure it was safe.)
</p><p>
I hand-selected 241 of the best artists I heard in 10 years at CD Baby.  I hope you enjoy them.
</p><p>
Inside each zip download are regular MP3s that will play on any device.
</p>

<hr />

<h3>SAMPLER</h3>
<p>One song from each genre.  A small fast download to get you started.  If you like it, come back and get more later.</p>
<h4><a href="/ayw/download/SAMPLER-AnythingYouWant.zip" title="SAMPLER">SAMPLER-AnythingYouWant.zip</a> <span class="small">(10 songs, 51 meg)</span></h4>

<h3>EVERYTHING</h3>
<p>One giant download of everything here.  If you want it all, and have a fast connection, just use this.</p>
<h4><a href="/ayw/download/AnythingYouWant.zip" title="EVERYTHING">AnythingYouWant.zip</a> <span class="small">(242 songs, 1494 meg (1.5 GIGS!))</span></h4>

<hr />
<p>Or just download the genres you like...</p>

<h3>CLASSICAL</h3>
<h4><a href="/ayw/download/CLASSICAL-AnythingYouWant.zip" title="CLASSICAL">CLASSICAL-AnythingYouWant.zip</a> <span class="small">(13 songs, 126 meg)</span></h4>

<h3>COUNTRY</h3>
<h4><a href="/ayw/download/COUNTRY-AnythingYouWant.zip" title="COUNTRY">COUNTRY-AnythingYouWant.zip</a> <span class="small">(25 songs, 112 meg)</span></h4>

<h3>FOLK</h3>
<h4><a href="/ayw/download/FOLK-AnythingYouWant.zip" title="FOLK">FOLK-AnythingYouWant.zip</a> <span class="small">(17 songs, 109 meg)</span></h4>

<h3>JAZZ</h3>
<h4><a href="/ayw/download/JAZZ-AnythingYouWant.zip" title="JAZZ">JAZZ-AnythingYouWant.zip</a> <span class="small">(25 songs, 189 meg)</span></h4>

<h3>POP</h3>
<h4><a href="/ayw/download/POP-AnythingYouWant.zip" title="POP">POP-AnythingYouWant.zip</a> <span class="small">(22 songs, 134 meg)</span></h4>

<h3>ROCK</h3>
<h4><a href="/ayw/download/ROCK-AnythingYouWant.zip" title="ROCK">ROCK-AnythingYouWant.zip</a> <span class="small">(24 songs, 152 meg)</span></h4>

<h3>SINGER/SONGWRITER</h3>
<h4><a href="/ayw/download/SINGSONG-AnythingYouWant.zip" title="SINGER/SONGWRITER">SINGSONG-AnythingYouWant.zip</a> <span class="small">(24 songs, 121 meg)</span></h4>

<h3>HIP HOP</h3>
<h4><a href="/ayw/download/URBAN-AnythingYouWant.zip" title="HIP HOP">URBAN-AnythingYouWant.zip</a> <span class="small">(32 songs, 195 meg)</span></h4>

<h3>WORLD</h3>
<h4><a href="/ayw/download/WORLD-AnythingYouWant.zip" title="WORLD">WORLD-AnythingYouWant.zip</a> <span class="small">(29 songs, 190 meg)</span></h4>

<h3>OTHER</h3>
<h4><a href="/ayw/download/OTHER-AnythingYouWant.zip" title="OTHER">OTHER-AnythingYouWant.zip</a> <span class="small">(26 songs, 168 meg)</span></h4>


