<h1>Sorry!</h1>

<%
sorry = Hash.new('It’s probably my fault.')
sorry['badurlid'] = 'That unique URL is not right, for some reason.</p><p>Maybe it expired? Maybe it has changed since I emailed it to you?</p><p><a href="https://sivers.org/ayw/login">Click here to try to log in</a>.</p><p>If that doesn’t work, email me at <a href="mailto:derek@sivers.org">derek@sivers.org</a>'
sorry['shortpass'] = 'Your password needs to be at least 4 characters long.</p><p>Please go back to try again.'
sorry['noemail'] = 'That email address wasn’t found. Do you have another?</p><p>Please go back to try again.'
sorry['aywcode'] = 'That wasn’t the code word.</p><p>HINT: It starts with a U and ends with an A.</p><p>Please go back to try again.'
sorry['login'] = 'You need to login to be here'
sorry['badlogin'] = 'Either the email address or password wasn’t right.</p><p>Please go back to try again.'
@message = sorry[@forwhat]
%>
<p>
<%= @message %>
</p>

