<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title><%= @pagetitle %></title>
<meta name="description" content="Derek Sivers home, blog, projects" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="alternate" type="application/atom+xml" title="Derek Sivers" href="/en.atom" />
<link rel="stylesheet" href="/css/site.css" type="text/css" media="screen" />
</head>
<body id="<%= @bodyid %>">

<section id="masthead">
  <h1><a href="/" title="Derek Sivers">Derek Sivers</a></h1>
  <h2>Entrepreneur, programmer, avid student of life. I make useful things, and share what I learn.</h2>
</section>

<section id="content">

