<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title><%= @pagetitle %></title>
<meta name="description" content="Derek Sivers home, blog, projects" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<base href="http://sivers.org" />
<style>
body { margin: 0 auto; width: 50%; font-family: Georgia, serif; }
h1, h2, h3 { font-family: "Trebuchet MS", sans-serif; }
</style>
</head>
<body id="<%= @bodyid %>">

<section id="masthead">
  <h1><a href="/" title="Derek Sivers">Derek Sivers</a></h1>
</section>

<section id="content">

